@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
#new_o {
	text-align: center;
	font-size: 5.0em;
	// padding-top: 4.5em;
}

// a few stylistic changes
#index {
	text-align: center;
}
#new_form_header {
	text-align: center;
}
#new_form {
	text-align: center;
}
#show_form {
	text-align: center;
	#order {
		font-size: 5.0em;
	}
}